<div id="<%= dom_id entry %>">
  <p>
    <strong>Brand name:</strong>
    <%= entry.brand_name %>
  </p>

  <p>
    <strong>Car model:</strong>
    <%= entry.car_model %>
  </p>

  <p>
    <strong>Fab year:</strong>
    <%= entry.fab_year %>
  </p>

  <p>
    <strong>Engine:</strong>
    <%= entry.engine %>
  </p>

  <p>
    <strong>Body type:</strong>
    <%= entry.body_type %>
  </p>

</div>
